<footer class="footer">
    <div class="footer__section">
        <h4>About Us</h4>
        <ul>
            <li>Mission</li>
            <li>Agents</li>
            <li>Partners</li>
        </ul>
    </div>
    <div class="footer__section">
        <h4>Product & Services</h4>
        <ul>
            <li>Life Insurance</li>
            <li>Disability Insurance</li>
            <li>Critical Illness</li>
            <li>Travel Insurance</li>
            <li>Investments</li>
        </ul>
    </div>
    <div class="footer__section">
        <h4>Contact Us</h4>
        <ul>
            <li>
                <span>Phone:</span>
            </li>
            <li>
                <span>Fax:</span>
            </li>
            <li>
                Ste. 255 2323 - 32 Ave
            </li>
        </ul>
    </div>
</footer>